@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    font-family: 'Oxygen', 'sans-serif';
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.f.submit {
      background: #fff;
      color: #000;
 }

.btn-default:hover {
      background: #3333ff;
      color: #fff;
}

.h2, .h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400; 
}

.navbar {
    opacity: 0.8;
}
   /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

.carousel-caption h3 {
    color: #fff;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #3333ff;
}

.carousel-indicators li {
    border-color: #3333ff;
}

.carousel-indicators li.active {
    background-color: #3333ff;
}

.item h4 {
    font-size: 28px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
    font-family: 'Oswald', 'sans-serif';
}

.item span {
    font-style: normal;
}